<!--
/**
 * Copyright © 2019 O2TI. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (isVisible()) -->
<div class="shipping-information-block" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
    <div class="title" data-role="title">
        <strong role="heading" aria-level="1">
            <!-- ko i18n: 'Shipping Information'--><!-- /ko -->
        </strong>
    </div>
    <div class="content shipping-information-block-items" data-role="content">
        <div class="shipping-information">
            <div class="ship-to">
                <div class="shipping-information-title">
                    <span data-bind="i18n: 'Ship To:'"></span>
                    <button class="action action-edit" data-bind="click: back">
                        <span data-bind="i18n: 'edit'"></span>
                    </button>
                </div>
                <div class="shipping-information-content">
                    <!-- ko foreach: getRegion('ship-to') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                </div>
            </div>
            <div class="ship-via">
                <div class="shipping-information-title">
                    <span data-bind="i18n: 'Shipping Method:'"></span>
                    <button class="action action-edit" data-bind="click: backToShippingMethod">
                        <span data-bind="i18n: 'edit'"></span>
                    </button>
                </div>
                <div class="shipping-information-content">
                    <span class="value" data-bind="text: getShippingMethodTitle()"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ko-->
