<!--
/**
 * Copyright © 2019 O2TI. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko ifnot: isCustomerLoggedIn() -->

<!-- ko foreach: getRegion('before-login-form') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<form class="form form-login" data-role="email-with-possible-login"
      data-bind="submit:login"
      method="post">
    <fieldset id="identify-by-email-fieldset" class="fieldset identify-by-email" data-bind="blockLoader: isLoading">
        <div class="field osc-input-group required">
            <div class="control _with-tooltip">
                <input class="input-text"
                       type="email"
                       data-bind="
                            textInput: email,
                            hasFocus: emailFocused,
                            attr: {
                                    placeholder: $t('Email Address'),
                                },
                            mageInit: {'mage/trim-input':{}}"
                       name="username"
                       data-validate="{required:true, 'validate-email':true}"
                       id="identify-by-emaill" 
                       autocomplete="username" 
                       />
                <label class="label" for="identify-by-email">
                  <span data-bind="i18n: 'Email Address'"></span>
                </label>
                <!-- ko template: 'ui/form/element/helper/tooltip' --><!-- /ko -->
                <span class="note" data-bind="fadeVisible: isPasswordVisible() == false && enableNext() == true"><!-- ko i18n: 'You can create an account after checkout.'--><!-- /ko --></span>
            </div>
        </div>
        <!--Hidden fields -->
        <div class="actions-toolbar" data-bind="fadeVisible: enableNext() == true && isPasswordVisible() != true">
                <div class="primary">
                    <button data-role="opc-continue" type="button" click="continueOSC" class="button action continue primary">
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                </div>
        </div>
        <fieldset class="fieldset hidden-fields" data-bind="fadeVisible: isPasswordVisible() == true && enableNext() != true">
            <div class="field osc-input-group">
                
                <div class="control">
                    <input class="input-text"
                           data-bind="
                                attr: {
                                    placeholder: $t('Password'),
                                }"
                           type="password"
                           name="password"
                           id="customer-password"
                           data-validate="{required:true}" autocomplete="off"/>
                      <label class="label" for="customer-password">
                        <span data-bind="i18n: 'Password'"></span>
                      </label>
                    <span class="note" data-bind="i18n: 'You already have an account with us. Sign in or continue as guest.'"></span>
                </div>
            </div>
            <!-- ko foreach: getRegion('additional-login-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <div class="actions-toolbar">
                <input name="context" type="hidden" value="checkout" />
                <div class="primary">
                    <button type="submit" class="action login primary" data-action="checkout-method-login"><span data-bind="i18n: 'Login'"></span></button>
                </div>
                <div class="primary">
                    <button data-role="opc-continue" type="button" click="continueOSC" class="button action continue secondary">
                        <span><!-- ko i18n: 'Continue as guest'--><!-- /ko --></span>
                    </button>
                </div>
                <div class="secondary">
                    <a class="action remind" data-bind="attr: { href: forgotPasswordUrl }">
                        <span data-bind="i18n: 'Forgot Your Password?'"></span>
                    </a>
                </div>
            </div>
        </fieldset>
        <!--Hidden fields -->
    </fieldset>
</form>
<!-- /ko -->
