<?xml version="1.0" ?>
<!--
    Copyright © 2019 O2TI. All rights reserved.
    See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="full_checkout" frontName="full_checkout">
            <module name="O2TI_FullCheckout" />
        </route>
    </router>
</config>