<?xml version="1.0"?>
<!--
/**
 * Copyright © O2TI. All rights reserved.
 * @author    Bruno Elisei <brunoelisei@o2ti.com>
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="o2ti" translate="label comment" sortOrder="100">
            <label>O2TI</label>
        </tab>
        <section id="full_checkout" translate="label comment" sortOrder="1600" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Full Checkout</label>
            <tab>o2ti</tab>
            <resource>O2TI_FullCheckout::config</resource>
            <group id="general" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Full Checkout</label>
                <comment>Settings for using Full Checkout</comment>
                <group id="checkout_identification_step" translate="label comment" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Checkout Identification Step</label>
                    <comment>Create additional step in unique for customer identification</comment>
                    <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>checkout_identification_step/general/enabled</config_path>
                    </field>
                </group>
                <group id="advanced_fields_checkout" translate="label comment" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Advanced Fields at Checkout</label>
                    <comment>Add advanced properties to checkout fields</comment>
                    <field id="enabled" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>advanced_fields_checkout/general/enabled</config_path>
                    </field>
                </group>
                <group id="advanced_street_address" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Advanced Street Address</label>
                    <comment>Implement Label and Validation to street fields</comment>
                    <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>advanced_street_address/general/enabled</config_path>
                    </field>
                </group>
                <group id="field_sort_in_checkout" translate="label comment" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Address at Checkout</label>
                    <comment>Change the order in which fields are displayed at checkout</comment>
                    <field id="enabled" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>field_sort_in_checkout/general/enabled</config_path>
                    </field>
                </group>
                <group id="input_masking" translate="label comment" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Input Masking</label>
                    <comment>Implement input masks for form fields</comment>
                    <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>input_masking/general/enabled</config_path>
                    </field>
                </group>
                <group id="country_bra" translate="label comment"  type="text" sortOrder="1300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclusive solutions for Brazil</label>
                    <comment>Solutions aimed at the Brazilian public</comment>
                    <group id="auto_complete_address_br" translate="label comment" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Autocomplete Address for Brazil</label>
                        <attribute type="expanded">0</attribute>
                        <comment>Fill in the customer's address by the zip code informed</comment>
                        <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>auto_complete_address_br/general/enabled</config_path>
                        </field>
                    </group>
                    <group id="tax_document_validation_br" translate="label comment" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Tax Document Validation for Brazilian</label>
                        <comment>Implementation of validation for the fiscal document, in the Brazilian standard</comment>
                        <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>tax_document_validation_br/general/enabled</config_path>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
